.plans__heading{
    font-size: 2rem;
    color:var(--marine-blue);
    font-weight:700;
}
.plans__sub--heading{
    font-size:1.05rem;
    font-weight:400;
    color:var(--cool-gray);
    margin-top: calc(var(--base-margin) + 0.15rem);
}
.plans__card--container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    width:100%;

}
.plans__card{
    border:1px solid var(--cool-gray);
    border-radius: calc(var(--base-padding) + 0.25rem);
    padding-left:calc(var(--base-padding) + 0.55rem);
    padding-top:calc(var(--base-padding) +  0.35rem);
    padding-bottom:calc(var(--base-padding) +  0.35rem) ;
    color:var(--marine-blue);
    display:flex;
    transition: all 0.2s ease-in;
    flex-direction: row;
    width: 90%;
    justify-content: flex-start;
    cursor:pointer;
    margin-bottom:calc(var(--base-margin) + 0.35rem);
}
.plans__card:hover{
    border-color: var(--purplish-blue);
}
.plans__card--active{
 background-color: var(--light-blue);
opacity:0.95;
border-color: var(--purplish-blue);
}
.plans__card--text{
    margin-left: calc(var(--base-margin) + 0.75rem);
}
.plans__card--title{
    font-size:1.35rem;
    font-weight: 700;
}
.plans__card--price{
    font-size:1rem;
    color: var(--cool-gray);
    font-weight: 400;
}
.plans__card--discount{
    font-size:0.95rem;
    font-weight:400;
}
.plans__slider--container{
    display:flex;
    background-color: var(--light-gray);
    justify-content: center;
    align-items: center;
    padding:calc( var(--base-padding) + 0.45rem);
    width:90%;
    margin: 2.5% 0 3.5%;
}
.plans__switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left:calc(var(--base-margin) + 0.5rem);
    margin-right:calc(var(--base-margin) + 0.5rem);
  }
  
  .plans__switch .plans__input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .plans__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--marine-blue);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .plans__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  
  
  .plans__input:focus + .plans__slider {
    box-shadow: 0 0 5px var(--marine-blue);
  }
  
  .plans__input:checked + .plans__slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  
  .plans__slider.slider__round {
    border-radius: 34px;
  }
  
  .plans__slider.slider__round:before {
    border-radius: 50%;
  }
.plans__slider--text{
    font-size:1rem;
    color:var(--cool-gray);
    transition: all ease 0.2s;
}
.slider__text--active{
    color:var(--marine-blue);
}
@media (min-width:1000px){
    .plans__container{
        padding-top:10%;
        width:90%;
        margin-left:auto;
    }
    .plans__slider--container{
        width:85%;
    }
    .plans__card--container{
        margin-top:2.5%;
        flex-direction: row;
        width:90%;
        align-items: center;
    } 
    .plans__card{
        margin-right:calc(var(--base-margin) + 0.55rem);
        width:30%;
        height:180px;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
    }
}