.btn__container{
    display:flex;
    justify-content: space-between;
    position:absolute;
    bottom:-13%;
    right:20px;
    width:90%;
}
.btn{
    background-color:transparent;
    cursor: pointer;
    border:none;
    outline:none;
    color:var(--cool-gray);
    font-size:1.12rem;
    padding: calc(var(--base-padding) + 0.25rem) calc(var(--base-padding) + 0.85rem);
    transition: all 0.3s ease-in;
}
.btn__regular:hover{
        color:var(--marine-blue);
        font-weight: 700;
}
.btn__blue,.btn__light__blue{
    color:var(--white);
    border-radius: calc(var(--base-padding) + 0.25rem);

}
.btn__blue{
    background-color: var(--marine-blue);
}
.btn__light__blue{
    background-color: var(--purplish-blue);
}
.btn__light__blue:hover{
    opacity:0.5;
}
.btn__disabled{
    cursor: not-allowed;
    background-color: rgba(71, 79, 84, 0.5) !important;
}
@media (min-width:1000px){
    .btn__container{
        position: relative;
        bottom: 0;
        right: 0;
    }
}